:root {
  --app-color-main:#1877f2;
  --app-background-color: #f0f2f5;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --div-border-color: rgb(218, 216, 216);
  --form-background-color: rgb(172, 171, 171,0.5);
  --comment-background:#f2f2f2;
}
.primary {
  background-color: var(--app-color-main);
  color: var(--text-color-whitesmoke);
}
.App {
  min-height: 100vh;
}

.btn-text {
  color: var(--black-color);
}
/* Auth page css starts here */

.login-landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  margin: auto;
  height: 100vh;
}
.login-title-wrapper {
  width: 90%;
}
.login-logo-title {
  color: var(--app-color-main);
  font-size: 2rem;
}
.title-subtext {
  font-size: 1rem;
}
.login-page-wrapper {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
}
.login-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--div-background-color);
  background-color:var(--white-color);
  color:var(--black-color);
  border-radius:1rem;
  box-shadow: 0 4px 8px 5px var(--box-shadow-color);

}
.login-input {
  width: 100%;
}
.login-header {
  text-align: center;

}
.login-forgotPassword {
  color: var(--primary-color-main);
}
.rememberMe-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 0 0.5rem;
}
.remember-checkbox {
  margin: 0 0.5rem 0 0;
}
.create-account {
  text-decoration: underline;
}
.password-wrapper {
  position: relative;
}
.show-password {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color:transparent;
  border: 0;
  cursor: pointer;
}
.input-label {
  position: relative;
}
.input-name {
  padding: 1rem;
}
.input-placeholder {
  position: absolute;
  top:1rem;
  left:1rem;
  padding: 0.2rem;
  transition: 0.2s;
  background-color:var(--white-color);
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
  opacity: 0.7;
  color:var(--black-color);
}
.input-name:focus + .input-placeholder, .input-name:not(:placeholder-shown) + .input-placeholder {
  opacity: 1;
  transform: scale(1) translateY(-110%) translateX(0%);
}
@media only screen and (min-width: 570px){
  .login-landing-wrapper {
    width: 80%;
  }
}
@media only screen and (min-width: 740px){
  .login-landing-wrapper {
    width: 60%;
  }
  .title-subtext {
    font-size: 1.5rem;
  }
  .login-logo-title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1050px){
  .login-landing-wrapper {
    flex-direction: row;
    width: 80%;
  }
  .login-page-wrapper {
    width: 70%;
  }
  .login-title-wrapper {
    width: 100%;
    margin-top: -8rem;
  }

}
/* Auth page css ends here */

/* nav bar css starts here */
a {
  text-decoration: none;
  
}
.btn {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.navbar-main-wrapper {
  border-bottom: 1px solid var(--div-border-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  width: 90%;
  margin: auto;
  align-items: baseline;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navbar-logo {
  display: flex;
  align-items: baseline;
  color: var(--app-color-main);
  padding: 0 0.5rem 0 0;
}
.navbar-search {
  position: relative;
  width:8rem;
}

.navbar-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input {
  padding: 0.5rem 2rem 0.5rem 3rem;
  width: 100%;
}
.nav-icon {
  font-size: 1.5rem;
  padding: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  
}
.page-links {
  position:relative;
  display: flex;
  gap: 1rem;
  align-items:baseline;
}
.search-icon {
  position: absolute;
  top: 25%;
  left: 1rem;
  color: var(--app-color-main);
}
.cart-toast {
  width: 30%;
  bottom: 3%;
  left: 2%;
  border-radius: 0.5rem;
} 
.toast-added {
  background-color: var(--alert-success);
}
.toast-removed {
  background-color: var(--alert-warning);
}



@media only screen and (min-width: 470px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .nav-icon {
    display: inline-block;
  }

  .navbar-logo {
    font-size: 1.1rem;
    padding: 0 0.5rem 0 0;
  }
  .nav-logo {
    font-size: 1.6rem;
  }
  .navbar-search {
    width: 10rem;
  }
}
@media only screen and (min-width: 570px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .navbar-logo {
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0;
  }
  .nav-logo {
    font-size: 1.7rem;
  }
  .page-links {
    font-size: 1.2rem;
  }
  .navbar-search {
    width: 15rem;
  }
}
@media only screen and (min-width: 670px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }

  .navbar-logo {
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 0.5rem 1.3rem;
  }
  .navbar {
    width: 95%;
  }
  .navbar-search {
    width: 18rem;
  }
 
}

@media only screen and (min-width: 1200px) {
  .navbar {
    width: 85%;
  }
  .navbar-search {
    display: inline-block;
  }
  .navbar-search {
    width: 22rem;
  }
 
}
/* nav bar css ends here */
/* user profile css start here */
.profile-card-wrapper {
  width: 15rem;
  background-color:var(--white-color);
  padding: 1rem;
  position:absolute;
  right: 0%;
  top: 5rem;
  z-index:1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--div-border-color);
  color: var(--black-color);
  text-transform: capitalize;

}
/* user profile css ends here */
 
/* Home css starts here */
.home-main-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.user-details-wrapper {
  display : flex;
  gap: 1rem;
  align-items: center;
}
.feedcard-wrapper {
  max-width: 35rem;
  margin: 1rem;
  background-color: var(--white-color);
  padding: 1rem 0;
  border-radius: 1rem;
  border:1px solid var(--div-border-color)
}
.feedcard-wrapper >p {
  padding: 1rem;
}
.feed-btn-icon {
  padding: 0 0.5rem 0 0;
}
.selected {
  color: var(--app-color-main);
}
.upload-icon {
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white-color);
  color: #1877f2;
  padding: 0.5rem 0.5rem 0 0.2rem;

}
input[type = "file"]{
  display: none;
  
}
label {
  cursor: pointer;
}
.postbtn-label-wrapper {
  display: flex;
  justify-content: space-between;
}
.text-area {
  border: 0;
  margin: 0;
  resize: none;
}
.text-area:focus {
  outline: 0;
}
.upload-post-wrapper {
  background-color: var(--white-color);
  padding: 1rem;
}
.edit-form-position {
  position: relative;
}
.cancel-icon {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}
.user-profile-cardH {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 1rem 1rem;
  border-radius: 1rem;
  position: sticky;
  top: 4.5rem;
}
.user-name-badge {
  text-align: center
}
.profile-count {
  color: var(--app-color-main);
}
.username {
  text-transform: capitalize;
  padding: 0.5rem 0 0 0;
  font-weight: bold;
}
.feedcard-btn-wrapper {
  border-top: 1px solid var(--div-border-color);
}
.activeLink {
  color: var(--app-color-main);
  font-weight:bold;
}
.username-eclipse {
  align-items:center;
  padding: 1rem;

}

.sort-wrapper {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;

}
.hr-align {
  width: 65%;
}
/* edit post card css starts here */
.editpost-icon-wrapper {
  position: relative;
}
.edit-btn {
  padding: 0.2rem;
  font-size:1rem;
  background-color:transparent;
  width:100%;
  margin: 0;
}
.edit-btn:hover {
  background-color:var(--div-border-color);
  border-radius: 0;
}
.editpost-wrapper {
  position: absolute;
  top: 2rem;
  left: -8rem;
  border: 1px solid var(--div-border-color);
  background-color: var(--white-color);
}
.edit-from-wrapper {
  position: fixed;
  top:0;
  left: 0;
  min-width: 40rem;
  width:100%;
  height: 100%;
  background-color: var(--form-background-color);
  padding: 8rem 22rem;
}

.edit-icon {
    cursor: pointer;
    padding: 1rem;
  }
.post-img {
  height:100%;
  width:100%;
  object-fit: fill;
}
.image-wrapper {
  text-align: center;
  height:20rem
}
/* user profile page css starts here */
.profile-page-wrapper {
  width: 80%;
  margin: auto;
}
.follow-section {
  gap: 1rem;
}
.user-name-hor {
  display: flex;
  flex-direction: row;
  position: static;
  gap: 1rem;
}
.user-name-ver {
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}
.profile-user-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post-count {
  gap: 0.3rem;
}
.user-tab-wrapper {
  justify-content:space-around;
}
.userpost-cards-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.avatar-bg-wrapper {
 margin-top: -7rem;
 padding: 1rem;
}
.profile-image-bg {
  background-color:  var(--white-color);
  padding: 0.5rem;
  width: 9rem;
  height: 9rem;
}
/* followers card css starts here */
.followers-card {
  gap: 0.7rem;
  align-items:center;
}
.follower-card-name {
  text-transform: capitalize;
  font-weight: bold;
}
/* profile image update css starts here */
.update-profile-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.update-profile-wrapper {
  border: 1px solid var(--white-color);
  padding: 1rem;
  width: 30rem;
  text-align: center;
  background-color:var(--white-color);

}
.image-name-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.update-btn {
  padding: 0.3rem;
  font-size: 1rem;
  color: var(--app-color-main);
}
.update-bg-btn {
  position: absolute;
  top: 6rem;
  right: 10rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: var(--white-color);
}
.portfolio-link {
  color: var(--app-color-main);
}
/* bookmarks css starts here */
.zero-bookmarks-text {
  font-size: 2rem;
  width:70%;
  margin: 2rem auto;
}
/* comment section wrapper */
.comment-wrapper {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.comment-input {
  padding:0.7rem;
  width: 80%;
  border-radius: 2rem;
  border: 1px solid var(--form-background-color);
}
.comment-input:focus {
  outline: 2px solid var(--form-background-color);
}
.comment-card-wrapper {
  padding: 1rem;
 
}
.avatar-micro {
  width: 2rem;
  height: 2rem;
}
.comment-text-wrapper {
  background-color: var(--comment-background);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 87%;
  position: relative;
}
.comment-btn-wrapper {
  position: absolute;
  top: 0.5rem;
  right: 0;
  display: flex;
  gap: 1rem;
}

/* theme css starts here */
.light {
  background-color: var(--white-color);

}

.dark {
  background-color: rgb(27, 27, 27);
  color:  var(--white-color);
}
.dark .btn {
  color:  var(--white-color);
}
.dark .update-profile-btn {
  color:  var(--white-color);
}
.dark .username {
  font-weight: 400;
}
.dark .selected {
  color:var(--app-color-main);
}